!!! Strict
%html{html_attrs}
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %title Mongoid Documentation: #{@item[:title]}
    %link{:href => "/stylesheets/docs.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

  %body
    #docs
      = render "shared/menu"

      #header
        %a{:href => "/"}
          %h1.logo{:title => "[mon-goyd]"} MONGOID
        %a.docs_header{:href => "../installation/"} Documentation

      .main
        .border
          .content_body.colorize
            %h2= item[:title]
            :preserve
              #{yield}


      #rightcolumn
        #search.box
          .roundedbox
            %h3 Contents
        %ul.outline
          %li.section Getting Started
          %li= link_to_unless_current("Installation", "/docs/installation/")
          %li= link_to_unless_current("Configuration", "/docs/installation/")
          %li.end= link_to_unless_current("Modeling Documents", "/docs/documents/")

          %li.section Defining Associations
          %li= link_to_unless_current("Embedded", "/docs/associations/embedded/")
          %li.end= link_to_unless_current("Relational", "/docs/associations/relational/")

          %li.section Database Interaction
          %li= link_to_unless_current("Persistence", "/docs/persistence/")
          %li= link_to_unless_current("Querying", "/docs/querying/")
          %li.end= link_to_unless_current("Indexing", "/docs/indexing/")

          %li.section Other Features
          %li= link_to_unless_current("Callbacks", "/docs/callbacks/")
          %li= link_to_unless_current("Validation", "/docs/validation/")
          %li= link_to_unless_current("Inheritance", "/docs/inheritance/")
          %li= link_to_unless_current("Extras", "/docs/extras/")
          %li.end= link_to_unless_current("Rake Tasks", "/docs/rake/")

          %li.section 3rd Party Libraries
          %li= link_to_unless_current("Integration", "/docs/integration/")
          %li.end= link_to_unless_current("Extensions", "/docs/extensions/")

          %li.section Release Information
          %li= link_to_unless_current("Upgrading", "/docs/upgrading/")

      = render "shared/footer"


    #ribbon
      %p
        %a{:href => "http://github.com/mongoid/mongoid-site", :rel => "me", :title => "Fork me on GitHub!"} Fork me on GitHub!

